.navigation {
    background-color: lightslategray;
    height: 5vh;
}

ul {
    max-width: 50%;
}

span {
    width: 30%;
}

.hamburger {
    display: none;
}

/* Start of reusable classes */
.flex {
    width: 100%;
    display: flex;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.align-self {
    align-self: center;
}

/* End of reusable classes */


@media screen and (max-width: 480px) {
    a {
        display: none
    }

    .hamburger {
        display: flex;
    }
}