/* main split left and right split top bottom */

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.split-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    margin: 1rem;
}

.split-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    margin: 1rem;
}